.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .floatingcard {

        h1 {
            margin: 0 100px;
            margin-bottom: 40px;
        }

        input {
            margin-bottom: 15px;
        }

        button {
            margin-top: 20px;
            margin-bottom: 0;
        }

        a {
            width: 100%;
        }
    }
}