.game-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    
    .game-left-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }
    .game-right-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 160px);
        height: 100vh;

        .progressbar{
            width: 100%;
            height: 10px;
        }
    }

<<<<<<< HEAD
=======
    .game-player-list{
        
        
    }

    
>>>>>>> 2c16183fe97297c8d8b19a211ccc6847a04dfb2b
}