$background-color: #070C26;
$secondary-color: #121834;
$purple-color: #6953C3;

@font-face {
    font-family: 'Azo Sans Bold';
    src: url('shared/fonts/azo-sans/AzoSans-Bold.ttf') format('truetype'),
        url('shared/fonts/azo-sans/AzoSans-Bold.eot') format('embedded-opentype'),
        url('shared/fonts/azo-sans/AzoSans-Bold.woff') format('woff'),
        url('shared/fonts/azo-sans/AzoSans-Bold.woff2') format('woff2');

}

@font-face {
    font-family: 'Azo Sans Regular';
    src: url('shared/fonts/azo-sans/AzoSans-Regular.ttf') format('truetype'),
        url('shared/fonts/azo-sans/AzoSans-Regular.eot') format('embedded-opentype'),
        url('shared/fonts/azo-sans/AzoSans-Regular.woff') format('woff'),
        url('shared/fonts/azo-sans/AzoSans-Regular.woff2') format('woff2');
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Azo Sans Regular';
}

body {
    background-color: $background-color;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#root {
    flex-grow: 3;
}