@import '@/global.scss';

button {
    background-color: $purple-color;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.35s;
    padding: 10px 20px;
    color: rgb(197, 197, 197);

    &:hover {
        background-color: $purple-hover-color;
    }

    &.reversed {
        color: $purple-color;
        background-color: transparent;
        border: 2px solid $purple-color;
        transition: border 0.35s, color 0.35s;
    
        &:hover {
            border: 2px solid $purple-hover-color;
            color: $purple-hover-color;
        }
    }
}